/* font-family: 'Ubuntu', sans-serif; */

/* 
/////////////////
body
/////////////////
*/
body {
	background-color: rgb(255, 254, 253);
}
/* 
/////////////////
Navbar
/////////////////
*/
.brand-logo i {
	width: 30px;
	vertical-align: center;
	display: flex;
}
.brand-logo span {
	position: relative;
	bottom: 4px;
}

/* 
/////////////////
Bannar
/////////////////
*/
.bannar {
	background-image: url('https://images-eu.ssl-images-amazon.com/images/G/31/prime/Gateway/2021/desktop-1x._CB658860139_.jpg');
	height: 91vh;
	width: 100vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
}
.bannar-overlay {
	background: rgb(255, 255, 255);
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 100%,
		rgba(0, 212, 255, 1) 100%
	);
	position: absolute;
	height: 91vh;
	width: 100vw;
}
.products {
	margin-top: 40vh;
	position: absolute;
	z-index: 1;
}

/* 
/////////////////
products
/////////////////
*/
/* .product-card {
	height: 38rem;
} */
.card .product-title {
	font-weight: bolder;
	font-size: 1.1rem;
	padding: 0;
	margin: 0;
}
.product-price {
	color: rgb(233, 58, 58);
	font-size: 1.5rem;
	font-weight: 600;
}
.rating i {
	color: gold;
	margin-top: 2%;
}
.product-reviews-text {
	padding-left: 5%;
	color: rgb(116, 116, 116);
}
.view-details-button {
	margin: 5%;
}
